.listIcon {
  position: relative;
  display: inline-block;
}

.listIcon svg {
  width: 35rem;
  height: 35rem;
}
.listIcon svg * {
  fill: #fff;
}

.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10rem;
  height: 10rem;
  margin-top: -5rem;
  margin-left: -5rem;
  background-color: var(--color-primary);
  border-radius: 5rem;
}
