.canvas {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none;

  animation: appear calc(var(--anim-duration) * 1.5);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
