.logo {
  width: 50rem;
  height: 50rem;
  vertical-align: middle;
  padding: 0;
  background-color: transparent;
}
.logo svg {
  width: 100%;
  height: 100%;
}
.logo path {
  transition: fill var(--duration-transition-ui) ease-out;
}
.logo g {
  fill: var(--color-primary-dark);
}
.logo:hover g {
  fill: var(--color-accent-1);
}
