.rc-slider {
  width: 200rem;
  height: 10rem;
  padding: 0;
}
.rc-slider:hover {
  cursor: pointer;
}

.rc-slider-handle {
  width: 20rem;
  height: 20rem;
  margin-top: -5rem;
  background-color: var(--color-primary-dark);
  border: none;
}
.rc-slider-handle:hover,
.rc-slider-handle:focus,
.rc-slider-handle-click-focused {
  box-shadow: none;
}

.rc-slider-rail,
.rc-slider-track {
  height: 10rem;
  border-radius: 2px;
}
.rc-slider-rail {
  background-color: var(--color-primary-light);
}
.rc-slider-track {
  background-color: var(--color-primary);
}
