.slider {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}

.buttonsContainer {
  position: absolute;
  bottom: 100rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 40rem;
}

.buttonsContainer button {
  width: 10rem;
  height: 10rem;
  background-color: var(--color-primary-dark);
  border-radius: 5rem;
}
